#transition_selection_modal {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border: 1px solid black;
    display: none;
    background-color: #FFFFFF;
}

#modal_save_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

#transition_states {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#transition_states>span {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

td {
    padding: 10px;
}

.center_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.selected {
    border: 1px solid black;
}

#string_len_inp {
    width: 4ch;
}

#strings_list {
    height: 400px;
    overflow: scroll;
    margin: 25px;
    width: 250px;
    text-align: center;
}

.accepted {
    background: rgba(0, 255, 0, 0.5);
}

.notaccepted {
    background: rgba(255, 0, 0, 0.5);
}